flask==3.0.0
gunicorn==21.2.0
requests==2.31.0
google-generativeai==0.8.3
bleach==6.1.0
werkzeug==3.0.1
Pillow==10.2.0
transformers==4.37.0
torch==2.4.1
accelerate==0.27.0
email-validator==2.1.0
gevent==24.2.1
psycopg2-binary==2.9.9